@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #148dfe;
    --secondary-color: #ffffff;
    --text-color: #333333;
    --background-color: #f0f0f0;
    --transition: all 0.3s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-attachment: fixed;
}

.header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 0;
    position: relative;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.navbar-nav ul {
    list-style-type: none;
    display: flex;
}

.navbar-nav li {
    margin-right: 20px;
}

.navbar-nav a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

.search-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.header-content {
    text-align: center;
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.header-title {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.header-subtitle {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.header-description {
    font-size: 1.2rem;
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.section-title {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.highlighted-text {
    font-size: 0.9rem;
    color: var(black);
    font-weight: bold;
    margin-bottom: 1rem;
}

.main-dev {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
}

.card li {
    margin-bottom: 0.5rem;
}

.card li::before {
    content: "\2022";
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
    clear: both;
    margin-top: 2rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-brand {
        margin-bottom: 1rem;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-bar {
        margin-top: 1rem;
    }

    .header-content {
        padding: 1rem 0;
    }

    .main-content {
        padding: 1rem 0;
    }

    .section {
        padding: 1rem;
    }

    .main-dev {
        padding: 1rem;
    }
}
